#colophon {
	background-color: $color-primary;
	font-family: $font-family;
	position: relative;

	&::after {
		content: " ";
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		top: 280px;
		background-color: white;
	}


	// Widgets
	.widget-area {
		margin-top: 50px !important;
		margin-bottom: 10px !important;

		.widget-column {
			max-width: $max-page-width;
			margin: auto;

			display: grid !important;
			grid-template-columns: 1.2fr 1fr 1fr 2fr;
			grid-template-rows: 240px auto;
			align-content: start;
			grid-gap: 50px 30px;

			.widget {
				width: auto;
				margin: 0;
				h2 {
					font-size: 16px;
					margin: 0;
					display: block;
					padding-bottom: 20px;
					font-weight: 600;
					color: $color-text;
					&::before { display: none; }
				}
				p {
					margin-top: 0;
				}
				a {
					color: white;
					//border-bottom: 1px dotted white;
					&:hover {
						border-bottom: 1px solid white;
					}
				}
				> div {
					color: white;
					font-size: 16px;
				}
			}

			// Text
			.widget:nth-of-type(1) {
				grid-row-start: 1;
				grid-column-start: 1;
				grid-column-end: 3;
				color: white;

				h3 {
					font-size: 45px;
					max-width: 360px;
					margin-bottom: 0;
					font-weight: 500;
				}
				p {
					margin: 0;
					font-size: 18px;
				}
			}

			// Nl Form
			.widget:nth-of-type(2) {
				grid-row-start: 1;
				grid-column-start: 3;
				grid-column-end: 5;

				h2 {
					display: none;
				}
				.success {
					max-width: 400px;
					p {
						color: white;
						font-size: 18px;
						line-height: 1.5;
					}
				}
				form {
					position: relative;
					margin-top: 55px;

					#subscribe-email {
						border: none;
						position: relative;
						z-index: 0;
						label { display: none; }
						input {
							transition: all 0.6s $easeOutQuart;
							box-shadow: $box-shadow-2;
							border-radius: 30px;
							font-family: $font-family !important;
							font-size: 20px;
							border: none;
							padding: 13px 30px;
							outline: none;
						}
					}

					#subscribe-submit {
						margin: 0;
						z-index: 1;
						button {
							transition: all 0.6s $easeOutQuart;
							background-color: $color-primary;
							border-radius: 30px;
							font-weight: 600;
							font-size: 16px;
							cursor: pointer;
							position: absolute;
							top: 7px;
							right: 35px;
							outline: none;
							border: 2px solid $color-primary;
							padding: 13px 20px 13px 20px;

							&:hover {
								background-color: white;
								color: $color-primary;
							}
						}
					}
				}
			}

			// Hours & Info
			.widget:nth-of-type(3) {
				grid-row-start: 2;
				grid-column-start: 1;
				grid-column-end: 2;

				> div {
					color: white;
					line-height: 1.4;
					> div {
						margin-bottom: 10px;
					}
				}
			}

			// Menu 1
			.widget:nth-of-type(4) {
				grid-row-start: 2;
				grid-column-start: 3;
				grid-column-end: 2;
			}

			// Menu 2
			.widget:nth-of-type(5) {
				grid-row-start: 2;
				grid-column-start: 3;
				grid-column-end: 4;
			}
			.widget:nth-of-type(6) {
				grid-row-start: 2;
				grid-column-start: 4;
				grid-column-end: 4;

				ul {
					margin: 0;
					li {
						margin: 0;
						a {
							font-size: 16px;
						}
					}
				}
			}
		}
	}

}

// Credits
#colophon .site-info {
	max-width: $max-page-width;
	margin: auto;
	color: white !important;
	padding: 15px 0 15px 0;
	border-top: 1px solid rgba(white, 0.3);
}
