body {
	//background: rgba(red, 0.1);

	.site {
		font-family: $font-family;
		padding-top: $menu-height;
		overflow: hidden;

		.site-main {
			article.page {
				> .entry-header {
					display: none;
				}

			}
			.entry-content {
				//background: rgba(red, 0.1);
				max-width: $max-page-width;
				box-sizing: content-box;
				margin: auto;

				> * {
					max-width: 100%;
				}

				.wp-block-columns {
					max-width: 100%;
				}
			}

		}

	}

}
