/**
 * Main Style File
 *
 * @package @@pkg.name
 * @version @@pkg.version
 * @author  @@pkg.author
 */

/**
* Vars */
$site-url: 'https://press.care/wclisboa';
//$site-url: 'http://wclisboa19.local'; 
$color-primary: #FFBB02;
$color-gray: #F6F7FB;
$color-text: #162944;
$box-shadow: 0 23px 33px -10px rgba(0, 0, 0, 0.2);
$box-shadow-2: 0 36px 51px 0 rgba(0,0,0,0.1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$max-page-width:1200px;
$menu-height: 95px;
$max-page-width:1200px;
$font-family: 'Cabin', sans-serif;

/**
* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:4300,400,500,600');

/**
* Helpers */
@import './helpers/borders.scss';
@import './helpers/colors.scss';
@import './helpers/effects.scss';
@import './helpers/estructure.scss';
@import './helpers/media.scss';
@import './helpers/text.scss';

/**
* Blocks */
@import './blocks/page-header.scss';
@import './blocks/header-home.scss';
@import './blocks/button.scss';

/**
* Layout */
@import './layout/header.scss';
@import './layout/footer.scss';
@import './layout/layout.scss';



