/**
 * Main Style File
 *
 * @package @@pkg.name
 * @version @@pkg.version
 * @author  @@pkg.author
 */
/**
* Vars */
/**
* Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:4300,400,500,600");
/**
* Helpers */
.title-large, #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__title h2 {
  font-size: 45px;
  margin-bottom: 0;
  font-weight: 400; }
  .title-large strong, #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__title h2 strong {
    font-weight: 600; }

.title-description, #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__title p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.72;
  letter-spacing: -0.5px;
  font-weight: 400; }

.title-label, #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__title h6 {
  color: #FFBB02;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin: 0 0 10px 0; }

/**
* Blocks */
.block__page-header {
  background-color: red; }

.header__home {
  margin-top: 0 !important;
  position: relative;
  min-height: 600px; }
  .header__home::before {
    content: " ";
    width: 100vw;
    height: 100%;
    position: absolute;
    left: calc( 50% - 50vw);
    top: 0;
    background-color: #FFBB02;
    z-index: -1; }

body #primary .wc-button.is-style-outline a {
  transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 2px solid #FFBB02;
  border-radius: 50px !important;
  padding: 12px 28px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1;
  background-color: white;
  color: #FFBB02 !important; }
  body #primary .wc-button.is-style-outline a::before {
    display: none; }
  body #primary .wc-button.is-style-outline a:hover {
    color: white !important;
    background-color: #FFBB02; }

/**
* Layout */
body.admin-bar .site-header {
  top: 32px; }

.site-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 32px 40px 32px 50px; }
  .site-header .site-title, .site-header .site-description {
    display: none; }
  .site-header .site-branding {
    margin: 0; }
    .site-header .site-branding::before {
      content: " ";
      width: 250px;
      height: 100px;
      position: absolute;
      left: calc( 50% - 715px);
      top: -38px;
      background: url("https://press.care/wclisboa/media/logo.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80%; }
  .site-header .main-navigation {
    padding-left: 150px;
    max-width: 1200px;
    margin: 0 auto; }
    .site-header .main-navigation .main-menu li {
      margin-right: 5px; }
      .site-header .main-navigation .main-menu li a {
        font-size: 18px;
        font-weight: 500;
        color: #162944; }
      .site-header .main-navigation .main-menu li svg {
        max-width: 20px; }
        .site-header .main-navigation .main-menu li svg path:nth-child(1) {
          fill: #162944; }
      .site-header .main-navigation .main-menu li.button__more svg {
        display: none; }
      .site-header .main-navigation .main-menu li.button__more .sub-menu {
        left: -12px !important; }
      .site-header .main-navigation .main-menu li.button__tickets {
        position: absolute;
        right: calc( 50% - 600px);
        top: -1px;
        margin-right: 0;
        box-shadow: 0 36px 51px 0 rgba(0, 0, 0, 0.1); }
        .site-header .main-navigation .main-menu li.button__tickets a {
          transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          background-color: #FFBB02;
          border: 2px solid #FFBB02;
          border-radius: 50px;
          padding: 12px 28px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 15px;
          line-height: 1;
          color: white; }
          .site-header .main-navigation .main-menu li.button__tickets a::before {
            display: none; }
          .site-header .main-navigation .main-menu li.button__tickets a:hover {
            background-color: white;
            color: #FFBB02 !important; }
    .site-header .main-navigation .main-menu > li:not(.menu-item-has-children) > a::before {
      transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
      content: " ";
      width: 0;
      height: 1px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -34px;
      background-color: #FFBB02; }
    .site-header .main-navigation .main-menu > li:not(.menu-item-has-children) > a:hover {
      color: black; }
      .site-header .main-navigation .main-menu > li:not(.menu-item-has-children) > a:hover:before {
        width: 100%; }
    .site-header .main-navigation .main-menu .sub-menu {
      transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 23px 33px -10px rgba(0, 0, 0, 0.2);
      will-change: opacity,transform;
      z-index: 10;
      border: 1px solid rgba(0, 0, 0, 0.1);
      transform: translateY(15px) !important;
      padding: 15px 10px;
      pointer-events: none; }
      .site-header .main-navigation .main-menu .sub-menu::before {
        content: " ";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 15px;
        top: -7px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transform: rotate(45deg);
        border-right: none;
        border-bottom: none;
        z-index: 1;
        background: white; }
      .site-header .main-navigation .main-menu .sub-menu::after {
        content: " ";
        width: 110%;
        height: 30px;
        position: absolute;
        left: -5%;
        top: -15px;
        background: transparent; }
      .site-header .main-navigation .main-menu .sub-menu li {
        margin: 0; }
        .site-header .main-navigation .main-menu .sub-menu li a {
          position: relative;
          background: transparent;
          padding: 7px 15px; }
          .site-header .main-navigation .main-menu .sub-menu li a::before {
            transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
            content: " ";
            width: 1px;
            height: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -11px;
            background-color: #FFBB02; }
          .site-header .main-navigation .main-menu .sub-menu li a:hover::before {
            height: 100%; }
    .site-header .main-navigation .main-menu li.menu-item-has-children:hover .sub-menu {
      pointer-events: auto; }

#colophon {
  background-color: #FFBB02;
  font-family: "Cabin", sans-serif;
  position: relative; }
  #colophon .widget-area {
    margin-top: 0 !important;
    margin-bottom: 10px !important; }
    #colophon .widget-area .widget-column {
      max-width: 1200px;
      margin: auto;
      display: -ms-grid !important;
      display: grid !important;
      -ms-grid-columns: 1.2fr 1fr 1fr 2fr;
          grid-template-columns: 1.2fr 1fr 1fr 2fr;
      -ms-grid-rows: auto 240px auto;
          grid-template-rows: auto 240px auto;
      -ms-flex-line-pack: start;
          align-content: start;
      grid-gap: 50px 30px; }
      #colophon .widget-area .widget-column .widget {
        width: auto;
        margin: 0; }
        #colophon .widget-area .widget-column .widget h2 {
          font-size: 16px;
          margin: 0;
          display: block;
          padding-bottom: 20px;
          font-weight: 600;
          color: #162944; }
          #colophon .widget-area .widget-column .widget h2::before {
            display: none; }
        #colophon .widget-area .widget-column .widget p {
          margin-top: 0; }
        #colophon .widget-area .widget-column .widget a {
          color: white; }
          #colophon .widget-area .widget-column .widget a:hover {
            border-bottom: 1px solid white; }
        #colophon .widget-area .widget-column .widget > div {
          color: white;
          font-size: 16px; }
      #colophon .widget-area .widget-column .widget:nth-of-type(1) {
        -ms-grid-row: 1;
            grid-row-start: 1;
        -ms-grid-column: 1;
            grid-column-start: 1;
        grid-column-end: 5;
        color: white;
        position: relative; }
        #colophon .widget-area .widget-column .widget:nth-of-type(1)::before {
          content: " ";
          width: 150vw;
          height: 100%;
          position: absolute;
          left: calc( 50% - 50vw);
          top: 0;
          background-color: #F6F7FB; }
        #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors {
          position: relative;
          z-index: 1;
          color: #162944;
          padding-top: 90px;
          padding-bottom: 30px;
          width: 100%; }
          #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__title {
            width: 100%;
            margin-bottom: 50px;
            position: relative; }
            #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__title h2 {
              max-width: 360px; }
            #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__title p {
              max-width: 500px; }
          #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container {
            margin-top: 0; }
            #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container h4 {
              font-size: 28px;
              font-weight: 300;
              width: 100%;
              -ms-flex-negative: 0;
                  flex-shrink: 0;
              margin: 0; }
            #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container > div {
              display: -ms-flexbox;
              display: flex;
              -ms-flex-direction: row;
                  flex-direction: row;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
              -ms-flex-pack: start;
                  justify-content: flex-start;
              -ms-flex-align: center;
                  align-items: center; }
              #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container > div a {
                margin: 0 10px 10px 10px; }
                #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container > div a:hover {
                  border: none; }
              #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container > div br {
                display: none; }
            #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container--ouro h4 {
              font-size: 24px; }
            #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container--ouro img {
              max-height: 100px;
              width: auto; }
            #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container--prata h4 {
              font-size: 20px; }
            #colophon .widget-area .widget-column .widget:nth-of-type(1) .footer-sponsors__container--prata img {
              max-height: 100px;
              width: auto; }
      #colophon .widget-area .widget-column .widget:nth-of-type(2) {
        -ms-grid-row: 2;
            grid-row-start: 2;
        -ms-grid-column: 1;
            grid-column-start: 1;
        grid-column-end: 3;
        color: white;
        position: relative; }
        #colophon .widget-area .widget-column .widget:nth-of-type(2)::after {
          content: " ";
          width: 150vw;
          height: 1px;
          position: absolute;
          left: -50vw;
          top: 220px;
          background-color: white;
          opacity: 0.5; }
        #colophon .widget-area .widget-column .widget:nth-of-type(2) h3 {
          font-size: 45px;
          max-width: 360px;
          margin-bottom: 0;
          font-weight: 500; }
        #colophon .widget-area .widget-column .widget:nth-of-type(2) p {
          margin: 0;
          font-size: 18px; }
      #colophon .widget-area .widget-column .widget:nth-of-type(3) {
        -ms-grid-row: 2;
            grid-row-start: 2;
        -ms-grid-column: 3;
            grid-column-start: 3;
        grid-column-end: 5; }
        #colophon .widget-area .widget-column .widget:nth-of-type(3) h2 {
          display: none; }
        #colophon .widget-area .widget-column .widget:nth-of-type(3) .success {
          max-width: 400px; }
          #colophon .widget-area .widget-column .widget:nth-of-type(3) .success p {
            color: white;
            font-size: 18px;
            line-height: 1.5; }
        #colophon .widget-area .widget-column .widget:nth-of-type(3) form {
          position: relative;
          margin-top: 55px; }
          #colophon .widget-area .widget-column .widget:nth-of-type(3) form #subscribe-email {
            border: none;
            position: relative;
            z-index: 0; }
            #colophon .widget-area .widget-column .widget:nth-of-type(3) form #subscribe-email label {
              display: none; }
            #colophon .widget-area .widget-column .widget:nth-of-type(3) form #subscribe-email input {
              transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
              box-shadow: 0 36px 51px 0 rgba(0, 0, 0, 0.1);
              border-radius: 30px;
              font-family: "Cabin", sans-serif !important;
              font-size: 20px;
              border: none;
              padding: 13px 30px;
              outline: none; }
          #colophon .widget-area .widget-column .widget:nth-of-type(3) form #subscribe-submit {
            margin: 0;
            z-index: 1; }
            #colophon .widget-area .widget-column .widget:nth-of-type(3) form #subscribe-submit button {
              transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
              background-color: #FFBB02;
              border-radius: 30px;
              font-weight: 600;
              font-size: 16px;
              cursor: pointer;
              position: absolute;
              top: 7px;
              right: 42px;
              outline: none;
              border: 2px solid #FFBB02;
              padding: 13px 20px 13px 20px; }
              #colophon .widget-area .widget-column .widget:nth-of-type(3) form #subscribe-submit button:hover {
                background-color: white;
                color: #FFBB02; }
      #colophon .widget-area .widget-column .widget:nth-of-type(4) {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-column: 1;
            grid-column-start: 1;
        grid-column-end: 2; }
        #colophon .widget-area .widget-column .widget:nth-of-type(4) > div {
          color: white;
          line-height: 1.4; }
          #colophon .widget-area .widget-column .widget:nth-of-type(4) > div > div {
            margin-bottom: 10px; }
      #colophon .widget-area .widget-column .widget:nth-of-type(5) {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-column: 3;
            grid-column-start: 3;
        grid-column-end: 2; }
      #colophon .widget-area .widget-column .widget:nth-of-type(6) {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-column: 3;
            grid-column-start: 3;
        grid-column-end: 4; }
      #colophon .widget-area .widget-column .widget:nth-of-type(7) {
        -ms-grid-row: 3;
            grid-row-start: 3;
        -ms-grid-column: 4;
            grid-column-start: 4;
        grid-column-end: 4; }
        #colophon .widget-area .widget-column .widget:nth-of-type(7) ul {
          margin: 0; }
          #colophon .widget-area .widget-column .widget:nth-of-type(7) ul li {
            margin: 0; }
            #colophon .widget-area .widget-column .widget:nth-of-type(7) ul li a {
              font-size: 16px; }

#colophon .site-info {
  max-width: 1200px;
  margin: auto;
  color: white !important;
  padding: 15px 0 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

body .site {
  font-family: "Cabin", sans-serif;
  padding-top: 95px;
  overflow: hidden; }
  body .site .site-main article.page > .entry-header {
    display: none; }
  body .site .site-main .entry-content {
    max-width: 1200px;
    box-sizing: content-box;
    margin: auto; }
    body .site .site-main .entry-content > * {
      max-width: 100%; }
    body .site .site-main .entry-content .wp-block-columns {
      max-width: 100%; }
