.header__home {
	margin-top: 0 !important;
	position: relative;
	min-height: 600px;


	&::before {
		content: " ";
		width: 100vw;
		height: 100%;
		position: absolute;
		left: calc( 50% - 50vw );
		top: 0;
		background-color: $color-primary;
		z-index: -1;
	}

}
